@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.woff') format('woff');
	font-weight: normal;
}
*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	min-width: 1200px;
}

/* service */
.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* body and global*/
body {
	font-size: 15px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: lighter;
	margin: 0;
}


/* header styles */
.header-main {
	padding-top: 40px;
	width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.header-logo {
	width: 400px;
	margin-top: -20px;
	margin-bottom: 15px;
}
.header-logo:hover {
	opacity: 0.6;
}

.header-logo:active {
	opacity: 0.3;
}

.header-search {
	width: calc(100% - 85px);
	background-color: #f7e296;
	background-image: url(../img/misc/search.png);
	background-repeat: no-repeat;
	background-position: left center;
	border: 0;
	color: #000;
	padding-top: 17px;
	padding-left: 37px;
	padding-bottom: 13px;
	margin-right: -5px;
	border-bottom: 2px solid transparent;
}

.header-search-form {
	margin-right: 100px;
	width: 440px;
}

.header-search::placeholder {
	opacity: 0.3;
}

.header-search:hover::placeholder {
	opacity: 0.6;
}

.header-search:focus {
	border-bottom: 2px solid #000;
	outline: 0;
}

.header-submit {
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 13px;
	padding-left: 0;
	width: 85px;
	background-color: #f7e296;
	border: 2px solid #000;
	outline: 0;
	visibility: hidden;
}

.header-search:focus + .header-submit,
.header-sumbit:focus-within,
.header-submit:hover,
.header-submit:focus {
	visibility: initial;
}

.header-submit:hover,
.header-submit:focus {
	background-color: #000;
	color: #fff;
}

.header-submit:active {
	color: #6a6a6a;
}

.header-service {
	margin-bottom: 15px;
}

.header-service-list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.header-service-item a {
	color: #000;
	text-decoration: none;
}

.user-exit {
	margin-left: 13px;
	opacity: 0.3;
}

.user-exit:hover {
	opacity: 1;
}

.header-service-item:first-child {
	width: 280px;
}

.header-service-enter {
	background-image: url(../img/svg/user.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.header-service-compare {
	background-image: url(../img/svg/compare.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-right: 35px;
}

.header-service-cart {
	background-image: url(../img/svg/cart.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.header-service-enter:hover,
.header-service-compare:hover,
.header-service-cart:hover {
	opacity: 0.6;
}

.header-service-enter:active,
.header-service-compare:active,
.header-service-cart:active {
	opacity: 0.3;
}

.header-navigation-title {
	background-image: url(../img/misc/plus.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3.6px;
	padding-right: 25px;
}




.catalog-menu {
	padding-left: 0;
	display: flex;
}

.catalog-menu-item:first-child {
	width: 540px;
	position: relative;
}

.catalog-menu-item:nth-child(2) {
	margin-right: 40px;
}

.catalog-menu-item:nth-child(3) {
	margin-right: 95px;
}

.catalog-menu-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3.6px;
	text-decoration: none;
	color: #000;
}

.catalog-menu-item a:hover {
	opacity: 0.6;
}

.catalog-menu-item a:active {
	opacity: 0.3;
}

.catalog-item {
	list-style: none;
	margin-right: 60px;
}

.catalog-inner :nth-child(3n) {
	margin-right: 0;
}

.catalog-item a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-transform: none;
	letter-spacing: normal;
	white-space: nowrap;
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
}

.catalog-menu {
	list-style: none;
}

/* breadcrumb */
.breadcrumb {
	list-style: none;
	display: flex;
	align-items: center;
	padding-left: 62px;
	margin-top: 0;
}
.breadcrumb-item {
	padding-right: 20px;
	padding-left: 20px;
	background-image: url(../img/svg/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: right center;
}

.breadcrumb :first-child {
	padding-left: 0;
}

.breadcrumb :last-child {
	background-image: none;
}

.breadcrumb a {
	text-decoration: none;
	color: #000;
	opacity: 0.3;
}

.breadcrumb a:hover {
	opacity: 0.6;
}

.breadcrumb a:active {
	opacity: 0.1;
}

/* Content on main page */

.show {
	display: flex;
	justify-content: space-between;
	margin-bottom: 65px;
}

.show-item {
	display: flex;
	flex-direction: column;
	width: 160px;
}

.show-item-image-wrapper {
	width: 160px;
	height: 160px;
	margin-bottom: 30px;
	background-color: #f7e296;
	object-fit: cover;
}

.show-item-image-wrapper:hover {
	background-color: #f0c52e;
}

.show-item img:active {
	opacity: 0.3;
}

.show-item b {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.benefits-background {
	background-color: #e5e5e5;
	background: linear-gradient(to bottom, #fff 24%, #e5e5e5 24%);
}

.benefits {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	background-color: #e5e5e5;
	background: linear-gradient(to bottom, #fff 24%, #e5e5e5 24%);
	padding-bottom: 70px;
	margin-bottom: 90px;
}

.benefits-control {
	list-style: none;
	padding-top: 80px;
	padding-bottom: 70px;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-right: 7px solid #000;
	width: 483px;
}

.benefits-item {
	margin-bottom: 24px;
}

.benefits-block {
	display: none;
}

.benefits-text {
	margin-top: 20px;
	margin-right: 130px;
	margin-left: 118px;
}

.benefits-text h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
}

.benefits-text p {
	line-height: 30px;
}

.benefits-image-wrapper {
	display: flex;
	align-items: center;
}

.firms {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.firms-item {
	width: 260px;
	height: 100px;
}

.firms :nth-child(1) {
	background-image: url(../img/logo-1-gray.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(2) {
	background-image: url(../img/logo-2-gray.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(3) {
	background-image: url(../img/logo-3-gray.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(4) {
	background-image: url(../img/logo-4-gray.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(1):hover {
	background-image: url(../img/logo-1.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(2):hover {
	background-image: url(../img/logo-2.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(3):hover {
	background-image: url(../img/logo-3.jpg);
	display: block;
	content: " ";
}

.firms :nth-child(4):hover {
	background-image: url(../img/logo-4.jpg);
	display: block;
	content: " ";
}

.block-show {
	display: flex;
}

.content-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
	padding-left: 60px;
	margin-bottom: 22px;
}

.about {
	width: 790px;
	margin-right: 111px;
	margin-bottoom: 80px;
}

.about-list {
	padding-bottom: 38px;
	padding-left: 18px;
	list-style-type: circle;
}

.about-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
	padding-top: 45px;
	position: relative;
}

.about-title:before {
	content: " ";
	width: 80px;
	height: 7px;
	background-color: #000;
	position: absolute;
	top: 0;
}

.about-text {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	line-height: 30px;
	padding-bottom: 15px;
}

.contacts-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
	padding-top: 45px;
	position: relative;
}

.contacts-title:before {
	content: " ";
	width: 80px;
	height: 7px;
	background-color: #000;
	position: absolute;
	top: 0;
}

.contacts p {
	font-family: "Open Sans", "Arial", sans-serif;
	line-height: 30px;
	margin-bottom: 40px;
}

.map-link {
	display: block;
	margin-bottom: 65px;
}

.about-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 40px;
}


/* Catalog content */
.product-text-wrapper {
	text-decoration: none;
}

.product-text-wrapper:hover .product-title {
	opacity: 0.6;
}

.product-text-wrapper:active .product-title {
	opacity: 0.3;
}

.product-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	width: 260px;
	color: #000;
}

.product-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #464646;
}

.product-item {
	position: relative;
	list-style: none;
	margin-right: 40px;
	margin-bottom: 50px;
}

.product-new {
	position: absolute;
	top: 29px;
	right: 35px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	opacity: 0.2;
	border: 2px solid #000;
	border-radius: 50%;
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-right: 14px;
	padding-bottom: 20px;
	padding-left: 14px;
}

.product-hover {
	position: absolute;
    background-color: rgba(238, 238, 238, 0.7);
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 360px;
    display: none;
}

.product-item:hover .product-hover {
	display: flex;
}


.product-list li:nth-child(2n) {
	margin-right: 0;
}

.product-list li:last-child,
.product-list li:nth-last-child(2) {
	margin-bottom: 15px;
}

.product-text-wrapper {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.product-image {
	margin-bottom: 10px;
}

/* filter */

.options-background {
	background: #dcdcdc;
	background: linear-gradient(to right, #dcdcdc 32%, #ebebeb 32%);
}

.options-wrapper {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}

.options-filter {
	padding-top: 7px;
	padding-right: 179px;
	padding-bottom: 7px;
	padding-left: 60px;
	margin-right: 71px;
	background-color: #dcdcdc;
}

.options-filter h3,
.options-sort h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	font-size: 16px;
}

.options-sort h3 {
	margin-right: 55px;
}

.options-sort-type li {
	margin-right: 30px;
}

.options-sort-type li:last-child {
	margin-right: 0;
}

.options-sort-type-link {
	text-decoration: none;
	opacity: 0.3;
	color: #000;
}

.options-sort-type-link:hover {
	opacity: 0.6;
}

.options-sort-type-link:active {
	opacity: 1;
}

.sort-active {
	opacity: 1;
}

.options-sort {
	display: flex;
}

.options-sort-arrows {
	display: flex;
	align-items: center;
}

.options-sort-type {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-right: 215px;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.options-sort-arrows-up {
	margin-right: 20px;
}

.options-sort-arrows-up,
.options-sort-arrows-down {
	opacity: 0.2;
}

.options-sort-arrows-up:hover,
.options-sort-arrows-down:hover {
	opacity: 0.4;
}

.options-sort-arrows-up:active,
.options-sort-arrows-down:active {
	opacity: 1;
}

.arrow-active {
	opacity: 1;
}

.filter-form {
	background-color: #eee;
	width: 350px;
	padding-top: 70px;
	padding-right: 70px;
	padding-left: 80px;
}

.filter-range {
	border-top: 2px solid #000;
}

.filter-range-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}

.filter-color {
	border-top: 2px solid #000;
}

.filter-color-title {
	margin-top: 10px;
}

.filter-bluetooth {
	border-top: 2px solid #000;
}

.filter-bluetooth-title {
	margin-top: 10px;
}

.filter-color-item {
	list-style: none;
	font-size: 14px;
	line-height: 40px;
}

.filter-bluetooth-item {
	list-style: none;
	font-size: 14px;
	line-height: 40px;
}


.filter-color-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.filter-bluetooth-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

/* Pagination */

.pagination {
	background-color: #ebebeb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 70px;
	margin-left: 70px;
}

.pagination-list {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.pagination-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	letter-spacing: 3.6px;
	font-size: 16px;
	margin-right: 25px;
}

.pagination-item a {
	text-decoration: none;
	color: #000;
	opacity: 0.3;
}

.pagination-item a:hover {
	opacity: 0.6;
}

.pagination-item a:active {
	opacity: 1;
}

.pagination-list .pagination-item:last-child {
	margin-right: 0;
}

.pagination-backward,
.pagination-forward {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	font-size: 16px;
}

.pagination-backward,
.pagination-forward {
	text-decoration: none;
	color: #000;
	display: block;
}

.pagination-backward {
	padding-top: 26px;
	padding-right: 25px;
	padding-bottom: 26px;
	padding-left: 30px;
	margin-right: 5px;
}

.pagination-forward {
	padding-top: 26px;
	padding-bottom: 26px;
	width: 125px;
	text-align: center;
}

.pagination-backward:hover,
.pagination-forward:hover {
	background-color: #d9d9d9;
}

.pagination-backward:active,
.pagination-forward:active {
	opacity: 0.3;
}

.pagination-active a {
	opacity: 1;
}

/* Checkbox and radio style  */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-color-list,
.filter-bluetooth-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 30px;
}

.filter-color-item,
.filter-bluetooth-item {
	padding-left: 40px;
	position: relative;
}


.input-checkbox + label:before {
	position: absolute;
	top: 9px;
	left: 0px;
	width: 23px;
	height: 23px;
	content: " ";
	background-size: 100% 100%;
	background-image: url(../img/svg/checkbox-off.svg);
}

.input-checkbox:checked + label:before {
	background-size: 100% 100%;
	background-image: url(../img/svg/checkbox-on.svg);
	width: 27px;
}

.input-checkbox:focus + label::before {
	outline: rgb(59, 153, 252) auto 5px;
}

.input-radio + label:before {
	position: absolute;
	top: 9px;
	left: 0px;
	width: 25px;
	height: 25px;
	content: " ";
	background-size: 100% 100%;
	background-image: url(../img/svg/radio-off.svg);
}

.input-radio:checked + label:before {
	background-size: 100% 100%;
	background-image: url(../img/svg/radio-on.svg);
}

.input-radio:focus + label::before {
	outline: rgb(59, 153, 252) auto 5px;
}

.input-checkbox + label:hover:before,
.input-checkbox:checked + label:hover:before,
.input-radio + label:hover:before,
.input-radio:checked + label:hover,
.input-checkbox + label:hover,
.input-checkbox:checked + label:hover,
.input-radio + label:hover,
.input-radio:checked + label:hover {
	opacity: 0.6;
}

.input-checkbox + label:disabled:before,
.input-checkbox:checked + label:disabled:before,
.input-radio + label:disabled:before,
.input-radio:checked + label:disabled,
.input-checkbox + label:disabled,
.input-checkbox:checked + label:disabled,
.input-radio + label:disabled,
.input-radio:checked + label:disabled {
	opacity: 0.25;
}

/* range-filter */

.filter-range-title {
	margin-bottom: 35px;
}

.filter-range-controls {
	position: relative;
}

.filter-range-scale {
	height: 2px;
	background-color: #dbdbdb;
	margin-bottom: 10px;
}

.filter-range-bar {
	height: 2px;
	width: 65%;
	background-color: #91c92f;
}

.filter-range-toggle {
	width: 20px;
	height: 20px;
	padding: 0;
	border: 8px solid #fff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 2px 1px 0 #cfcfcf;
	position: absolute;
	top: -10px;
	left: 0;
	cursor: pointer;
}

.filter-range-price {
	margin-bottom: 34px;
}

.toggle-min {
	left: 0;
}

.toggle-max {
	left: 120px;
}

.price-min,
.price-max {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.price-min input,
.price-max input {
	width: 60px;
	background-color: #eeeeee; 
	border: 0;
}

.price-min input::placeholder,
.price-max input::placeholder {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
}

/* footer */
.footer-main {
	background-color: #464646;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	padding-top: 65px;
	padding-bottom: 65px;
}

.footer-logo:hover {
	opacity: 0.6;
}

.footer-logo:active {
	opacity: 0.3;
}

.footer-address {
	color: #fff;
}

.footer-information-list,
.footer-service-list {
	list-style: none;
}

.footer-service-list a {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
}

.footer-service-list a:hover {
	opacity: 1;
}

.footer-service-list a:active {
	opacity: 0.3;
}

.footer-service-enter {
	background-image: url(../img/misc/user-yellow.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	width: 100px;
}

.footer-service-compare {
	background-image: url(../img/misc/compare-yellow.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.footer-service-cart {
	background-image: url(../img/misc/cart-yellow.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}


.footer-information-item {
	margin-right: 40px;
}

.footer-information-item:last-child {
	margin-right: 0;
}

.footer-information-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	letter-spacing: 3.6px;
}

.footer-information-item a:hover {
	opacity: 0.6;
}

.footer-information-item a:active {
	opacity: 0.3;
}

.footer-service-item {
	margin-left: 40px;
}

.footer-phone {
	color: #fff;
	text-decoration: none;
}

.social-button a {
	display: block;
}

.footer-social li {
	list-style: none;
	opacity: 0.3;
	margin-right: 22px;
}

.footer-social li:hover {
	opacity: 1;
}

.footer-social li:active {
	opacity: 0.1;
}

.academy-link:hover {
	opacity: 0.6;
}

.academy-link:active {
	opacity: 0.3;
}

/* popups */
.map-popup {
	position: relative;
	width: 960px;
	box-shadow: 1px 0 20px 0 rgba(0, 0, 0, .2);
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	top: 200px;
	left: 500px;
	z-index: 5;
	display: none;
}

.map-popup-close {
	position: absolute;
	background-image: url(../img/misc/modal-close-popup.png);
	display: block;
	height: 55px;
	width: 55px;
	background-color: transparent;
	border: 0;
	top: 22px;
	right: 22px;
	opacity: 0.7;
}


.contacts-popup-wrapper {
	background-color: #fff;
	width: 960px;
	box-shadow: 1px 0 20px 0 rgba(0, 0, 0, .2);
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	top: 200px;
	left: 500px;
	display: none;
}

.contacts-popup {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}

.contacts-popup-section {
	display: flex;
	flex-wrap: wrap;
}

.contacts-popup-section :first-child {
	margin-right: 40px;
}

.contacts-popup-item {
	width: 360px;
}

.contacts-popup-item-textarea {
	width: 760px;
	margin-bottom: 35px;
}

.contacts-popup-name,
.contacts-popup-email,
.contacts-popup-textarea {
	width: 100%;
	background-color: #f2f2f2;
	border: 0;
	padding-top: 16px;
	padding-bottom: 17px;
	padding-left: 20px;
}

.contacts-popup-name::placeholder,
.contacts-popup-email::placeholder {
	font-size: 14px;
}

.label-write {
	display: block;
	margin-bottom: 13px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.contacts-popup-close {
	background-image: url(../img/misc/modal-close-popup.png);
	display: block;
	height: 55px;
	width: 55px;
	background-color: #fff;
	border: 0;
	margin-top: 22px;
	margin-right: 22px;
	margin-left: auto;
}

.contacts-popup-textarea {
	resize: none;
	width: 100%;
}

.contacts-popup-submit {
	margin-bottom: 80px;
}

/* Grids */
.content-block {
	width: 1160px;
	display: flex;
	margin-right: auto;
	margin-bottom: 80px;
	margin-left: auto;
}

.header-wrapper {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-left: 60px;
	background-color: #f7e296;
	display: flex;
	flex-direction: column;
}

.header-wrapper-catalog {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-left: 60px;
	background-color: #f7e296;
	display: flex;
	flex-direction: column;
}

.main-wrapper {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}

.footer-wrapper {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}

.header-service {
	display: flex;
}

.header-service-list {
	display: flex;
	align-items: center;
}

.header-service-item {
	display: flex;
}

.catalog-inner {
	display: none;
	flex-wrap: wrap;
	width: 1160px;
	background-color: #f7e296;
	padding-top: 22px;
	padding-right: 500px;
	padding-bottom: 34px;
	padding-left: 60px;
	position: absolute;
	top: 20px;
	left: -60px;
	z-index: 1;
}

.header-navigation-title:hover + .catalog-inner,
.header-navigation-title:focus-within + .catalog-inner,
.catalog-inner:hover,
.catalog-inner:focus {
	display: flex;
}

.catalog-menu-item:hover > .catalog-inner,
.catalog-menu-item:focus-within > .catalog-inner {
	display: flex;
}


.catalog-menu {	
	display: flex;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
}

.footer-service {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

.footer-service-list {
	display: flex;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.footer-address-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.footer-information-list {
	display: flex;
}

.footer-social-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-social {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 23px;
	display: flex;
	align-items: center;
}

.footer-social :last-child {
	margin-right: 0;
}

.content-filter-wrapper {
	position: relative;
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Серая декорация, вариант №1  */
.content-filter-background {
	background: linear-gradient(to right, #eee 32%, #fff 32%);
}

/* Серая декорация, вариант №2
.content-filter-wrapper:before {
	content: " ";
    background-color: #eee;
    width: 355px;
    position: absolute;
    top: 0;
    left: -355px;
    height: 100%;
}
*/

.product-section {
	margin-top: 69px;
}

.product-list {
	display: flex;
	width: 850px;
	flex-wrap: wrap;
	padding-left: 70px;
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb-wrapper {
	width: 1200px;
	margin-right: auto;
	margin-bottom: 35px;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}
.footer-social-wrapper:before {
	content: " ";
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

/* helpers */
.about-text-container {
	padding-bottom: 22px;
} 


/* button */

.button-device {
	position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	z-index: 1;
	padding-right: 34px;
	padding-left: 34px;
	color: #000;
	text-decoration: none;
}

.button-device:before {
	position: absolute;
	display: block;
	content: " ";
	height: 8px;
	width: 100%;
	background-color: #f0c52e;
	z-index: -1;
	top: 16px;
	left: 0;
}

.button-device:hover,
.button-device:hover {
	background-color: #f0c52e;
}

.button-device:active {
	background-color: #f0c52e;
	color: #be9c22;
}

/* button for benefits */

.button-benefits {
	position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	z-index: 1;
	padding-right: 34px;
	padding-left: 34px;
	color: #000;
	text-decoration: none;
	width: 160px;
}

.button-benefits:before {
	position: absolute;
	display: block;
	content: " ";
	height: 8px;
	width: 100%;
	background-color: #f0c52e;
	z-index: -1;
	top: 16px;
	left: 0;
}

.button-benefits:hover,
.button-benefits:focus {
	background-color: #f0c52e;
}

.button-benefits:active {
    background-color: #000;
    color: #f7e184;
    width: 275px;
    text-align: left;
    padding-right: 150px;
}

.button-benefits:active:before {
	display: none;
}

.product-compare {
	border: 0;
	background-color: transparent;
	color: #000;
	opacity: 0.5;
	font-size: 13px;
}

.product-compare:hover {
	opacity: 1;
}

.product-compare:active {
	opacity: 0.2;
}


/* slider */

.slider {
	position: relative;
	background-color: #f7e296;
	background: linear-gradient(to bottom, #f7e296 125px, #fff 125px);
	margin-bottom: 80px;
}

.slider-wrapper {
	display: flex;
}

.slider-image-wrapper {
	margin-right: 120px;
	margin-left: 90px;
}

.slider-button {
	margin-bottom: 48px;
}

.slider-content-wrapper {
	padding-top: 32px;
}

.slider-content-wrapper h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
	margin-bottom: 23px;
	position: relative;
}

.slider-content-wrapper h3:before {
	position: absolute;
	top: -42px;
	display: block;
	content: " ";
	height: 7px;
	width: 100px;
	background-color: #fff;
}

.slider-content-wrapper p {
	line-height: 30px;
	margin-bottom: 40px;
}

.slider-control {
	position: absolute;
	top: 339px;
	right: 55px;
}

.slider-control label {
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	background-image: url(../img/svg/slider-button-empty.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	font-size: 0;
	margin-right: 20px;
}

.slider-control label:last-child {
	margin-right: 0;
}

#slider-one:checked ~ .slider-control label[for="slider-one"],
#slider-two:checked ~ .slider-control label[for="slider-two"],
#slider-three:checked ~ .slider-control label[for="slider-three"] {
	background-image: url(../img/svg/slider-button.svg);
}

.slider-table tr:first-child {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: normal;
	font-size: 36px;
	margin-bottom: 5px;
}

.slider-table tr:first-child td {
	padding-bottom: 8px;
}

.slider-table tr:nth-child(2) {
	font-size: 13px;
}

.slider-table {
	width: 540px;
}